<div id ="page_wrapper">
<div id "profile_image">
<h1>About Me</h1>
<h3> Say goodbye to cluttered classifieds and endless research. With the best deals on handpicked properties and a team committed to making your dream home affordable to you. Our credible data and skilled representatives, make the entire process of finding the perfect deal for your perfect home by doing all the bargaining for you.</h3>